.App {
  text-align: center;
}


@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


.header{
  background-image: url("https://images.unsplash.com/photo-1478679998273-573b05e79e0c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8bG9nbyUyMGJpa2V8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60");
  background-repeat: no-repeat;
  background-size: cover;
  position:-webkit-sticky;
  position:sticky;
  top:0;
  min-height: 100px;
  margin: 0 auto;
  display: flex; 
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

}


 li{
  list-style: none;
  display: inline-block;
  padding-right: 10px;
  padding-left:10px; 
  
}
li a {
  padding: 5px;
  background-color: #fff;
  text-decoration: none;
}
h2{
  color:black;
  list-style: none;
  display: inline-block;
  text-decoration: none;
  margin-left: 25px;

  
}
.order{
  color:red;
}
h1{
  font-size: 50px;
  color:#B22727
}
.cart ion-icon{
  vertical-align: bottom;
  font-size: 20px;
  padding-right: 5px;
}
.cart a{
  background-color: #B22727;
  color:#fff;
  cursor:pointer;
  text-decoration: none;
}

 img{
  width:250px;
 }
 .container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  
 }
 .container-product{
  margin: 35px;
  margin-top:5%;
  flex-wrap: wrap;
  
 }
 .category{
  position: -webkit-sticky;
  position: sticky;
  top:80px;
  display: flex;
  justify-content:space-around;
  flex-wrap: wrap;
  background-color: #B22727;
  font-size: 20px;
  color: #fff;
  font-family: Roboto,sans-serif;
 }
 .text{
  width:300px;
  font-size:18px;
  
 }
 .name{
  color:#B22727;
  font-size: 25px;
  font-weight: bolder;

 }
 .price{
  font-weight: bolder;
  font-size: 20px;
 }
 .btn{
  border: none;
  font-weight: bolder;
 }
 .btnCart{
  background-color: #1C658C;
  color: #fff;
 }
 .categoryButtonSelected{
  border:1px solid black;
  padding:5px;
  cursor: pointer;
  background:#363062;
  
 }
 .categoryButton:hover{
  color: #363062;
 }
 .cart-container{
  padding:1rem  2rem
 }
 .cart-container h2{
  font-weight: 400;
  font-size: 30px;
  text-align: center;
 }
 .cart-container.titles{
  margin: 2rem 0 1rem 0;
 }
 .cart-container.titles h3{
  font-weight: 400;
  font-size: 18px;
  color:#363062;
  text-transform: uppercase;

 }
 .cart-item,.titles{
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 1fr;
  column-gap: 0.1rem;
  
 }
 .cart-item{
  border-top: 1px solid rgb(187,187,187);
  padding: 0.5rem 0;
 }
 .cartImg{
  width:150px;
 }
 .titles.product-title{
  padding-left:0.5rem;
  justify-self:left;
  margin-left: 60px;
  
 }
 .titles.total{
  padding-right: 0.5rem;
  justify-self: right;
  
 }
 .cart-item.cart-product{
  display: flex;
 }

 .cart-items.cart-product img{
  width:100px;
  max-width: 100%;
  margin-right: 1 rem;
 }
 .cart-item.cart-product h3{
  font-weight: 400;
 }
 .cart-product button{
  border:none;
  outline:none;
  margin-top: 0.7rem;
  cursor: pointer;
  background: none;
  color: #B22727;
  font-weight: bold;
  
 }
 .cart-item .cart-product button:hover{
  color:black;
 }
 .product-quantity{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  border-radius: 2px;
  
 }
 .product-quantity button{
  outline: none;
  cursor:pointer;
  margin: 5px;
 }
 .count{
  padding:0.5rem 0;
 }
 .cart-totalPrice{
  font-weight: bold;
 }
 .cart-summary{
  display:flex;
  justify-content: space-between;
  align-items: flex-start;
  border-top:1px solid rgb(187,187,187);
  padding-top:2rem;
 }
 .clear{
  width:130px;
  max-width:100%;
  height:40px;
  border-radius: 5px;
  font-weight: 400;
  letter-spacing: 1.15px;
  border:0.5px solid rgb(177,177,177);
  color:gray;
  cursor:pointer;
  background: none;
  color:black;

 }
 .checkout{
  width:270px;
  max-width:100%;
 }
 .subtotal{
  display: flex;
  justify-content: space-between;
  font-size: 20px;
 }
 .amount{
  font-weight: 700;
 }
  .taxes{
  font-size: 15px;
  font-weight: 200;
  margin: 0.5rem 0;
 }
 .checkout button{
  width:100%;
  height: 40px;
  border-radius: 5px;
  font-weight: 400;
  border: none;
  outline: none;
  cursor: pointer;
  background: #1C658C;
  color: #fff;
  letter-spacing: 1.15px;
 }
 .continue-shopping,
 .start-shopping{
  margin-top: 1rem;
 }
 .continue-shopping a,
 .start-shopping a{
  color:grey;
  text-decoration: none;
  display:flex;
  align-items: center;
 }
 .continue-shopping a span,
 .start-shopping a span{
  margin-left: 0.5 rem;
 }
 .wrapper{
  margin: 0;
  padding:0;
  border: border-box;
  font-family: Roboto,sans-serif;
 }
 .payment{
  
  max-width: 360px;
  margin : 80px auto;
  height: auto;
  padding: 35px;
  padding-top: 70px;
  border-radius: 5px;
  position: sticky;
  top:0;
 }
 .payment h2{
  text-align: center;
  letter-spacing: 2px;
  margin-bottom: 40px;
  color:#363062;
 }
 .form label{
  display: block;
  color:#555555;
  margin-bottom: 6px;
  margin-right: 50%;
 }
 .card{
  margin-right: 20px;
 }
 .card-item{
  width:47%;
  margin-left: 25%;
 }
 .form input{
  padding: 13px 0 13px 25px;
  width:100%;
  text-align: center;
  border:2px solid #dddddd;
  border-radius: 5px;
  letter-spacing: 1px;
  word-wrap: 3px;
  outline: none;
  font-size: 16px;
  color:#555555;
  margin-right: 15px;
 }

 .space{
  margin-bottom: 20px;
 }
 .icon-relative{
  position: relative;
 }
 .icon-relative .fa-solid{
  position: absolute;
  bottom: 12px;
  right: 80%;
  font-size: 20px;
  color: #363062;
 }
 .btnCheckout{
  margin-top: 40px;
  padding: 12px;
  background: #363062;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
 }

 @media all and (max-width:400px){
  .header{
    width:380px;
    
  }
  h1{
    font-size: 30px;
    
  }
  h2{
    font-size: 20px;
  }
  .category{
    font-size: 12px;
    width:380px;
    
  }
  .order{
    font-size: 15px;
    margin-left:18%;
  }
  hr{
    width:500px;
  }
  .cart-container .titles h3{
    font-size: 15px;
  }
  .product-price{
    font-size: 12px;
  }
  .count{
    font-size: 12px;
  }
  .cart-totalPrice{
    font-size: 12px;
  }
  button{
    font-size: 12px;
  }
  .clear{
    width:100px;
    height:20px;
    font-size: 10px;
    margin-right: 20px;
    
  }

 }


 @media all and(max-width:800px){
  .header{
    width:740px;
  }
  .category{
    font-size: 25px;
  }
 }



  
 


  



